openapi: 3.0.3
info:
  title: Task Management System API
  description: API for managing Projects and Tasks.
  version: 1.0.0
servers:
  - url: https://api.taskmanagement.com
    description: Main server

paths:
  /projects:
    post:
      summary: New Project creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Project Name
                description:
                  type: string
                  example: Project Description
                start_date:
                  type: string
                  format: date
                  example: 2025-04-01
                end_date:
                  type: string
                  format: date
                  example: 2025-06-01
              required:
                - name
                - start_date
                - end_date
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    get:
      summary: Getting Projects list
      parameters:
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          description: Projects per page
          required: false
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: Projects list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'

  /projects/{id}:
    get:
      summary: Getting information about certain project
      parameters:
        - name: id
          in: path
          required: true
          description: Project ID
          schema:
            type: integer
      responses:
        '200':
          description: Project information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found
    put:
      summary: Update Project Information
      parameters:
        - name: id
          in: path
          required: true
          description: Project ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Updated Project Name
                description:
                  type: string
                  example: Updated Description
                start_date:
                  type: string
                  format: date
                  example: 2025-04-01
                end_date:
                  type: string
                  format: date
                  example: 2025-06-30
      responses:
        '200':
          description: Project Updated Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found
    delete:
      summary: Deleting Project
      parameters:
        - name: id
          in: path
          required: true
          description: Project ID
          schema:
            type: integer
      responses:
        '204':
          description: Project deleted successfully
        '404':
          description: Project not found

  /projects/{project_id}/tasks:
    post:
      summary: New Task creation
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: Task Title
                description:
                  type: string
                  example: Task Description
                status:
                  type: string
                  enum: [pending, in_progress, completed]
                  example: pending
                due_date:
                  type: string
                  format: date
                  example: 2025-05-01
              required:
                - title
                - status
      responses:
        '201':
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    get:
      summary: Getting Tasks list for Project
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: integer
        - name: status
          in: query
          description: Filter by Status
          required: false
          schema:
            type: string
            enum: [pending, in_progress, completed]
        - name: due_date
          in: query
          description: Filter by Due Date
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Task list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'

  /projects/{project_id}/tasks/{id}:
    get:
      summary: Getting information about certain Task
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      responses:
        '200':
          description: Task information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
    put:
      summary: Update Task Information
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: Updated Task Title
                description:
                  type: string
                  example: Updated Description
                status:
                  type: string
                  enum: [pending, in_progress, completed]
                  example: completed
                due_date:
                  type: string
                  format: date
                  example: 2025-05-01
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
    delete:
      summary: Delete task
      parameters:
        - name: project_id
          in: path
          required: true
          description: Project ID
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      responses:
        '204':
          description: Task dele successfully
        '404':
          description: Task not found

components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Project Name
        description:
          type: string
          example: Project Description
        start_date:
          type: string
          format: date
          example: 2025-04-01
        end_date:
          type: string
          format: date
          example: 2025-06-01
    Task:
      type: object
      properties:
        id:
          type: integer
          example: 1
        project_id:
          type: integer
          example: 1
        title:
          type: string
          example: Task Title
        description:
          type: string
          example: Task Description
        status:
          type: string
          enum: [pending, in_progress, completed]
          example: pending
        due_date:
          type: string
          format: date
          example: 2025-05-01